* {
  margin: 0;
  padding: 0;
}
.home-page {
  width: 100%;
  height: 120vh;
  background-image: url(/MyProject/Travel/img/Home-page.webp);
  filter: brightness(0.9);
  background-size: cover;
  background-position: center;
  transition: 0.2s ease;
  overflow: hidden;
}
.home-page .navbar {
  width: 100%;
  padding: 15px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Quicksand, sans-serif;
  position: fixed;
  top: 0;
  transition: background-color 0.2s ease;
  z-index: 1000;
}
.home-page .navbar ul li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin-left: 60px;
  color: rgb(255, 255, 255);
  font-size: 16.2px;
  position: relative;
}
.logo {
  width: 120px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  margin-right: 100px;
  margin-left: 20px;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.home-page .line1 {
  position: absolute;
  color: white;
  top: 250px; 
  left: 100px;
  width: 100%;
}
.home-page .line2 {
  position: absolute;
  color: white;
  top: 350px; 
  left: 103px;
  width: 100%;
  font-size: 25px;
}
.home-page .navbar ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: black;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: width 0.2s ease;
}
.home-page .navbar ul li:hover::after {
  width: 100%;
}
.call-us {
  padding: 10%;
  display: flex;
}
.call-us text {
  flex: 0 0 60%;
}

.call-us .vid video{
  position: relative;
  box-sizing: border-box;
  border-radius: 200px;
  padding-bottom: 10px;
} 